
@import "transition-style";


@media (max-width: 600px) {
    body {
        width: 100%;
        padding: 10px;
    }
    form{
        width: 100%;
        margin: 10px;
    }
}

@keyframes diamond-in-center {
    from {
      clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    to {
      clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    }
  }
  
  [transition-style="in:diamond:center"] {
    animation: 3.5s cubic-bezier(.25, 1, .30, 1) diamond-in-center both;
  }
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* background-color:#ebebf0; */
    /* border: solid 1px blue; */
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
   
    
}

header {
    display: flex;

    flex-direction: column;
    margin-top: 60px ;
    /* border: solid 1px blue; */
}

.boton1{
    margin: 10px;
    border-radius:30px;
    background-color:#dcdcde;
    border:black;
    color:black;
    text-align: center;
    text-decoration:double;
    display: inline-block;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
    }
    .boton1:hover{
        background: #78788c;
        color: #fff;
        transform: rotateZ(360deg);
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
    }
  
main{
    margin: 100px;
    
    
}

.encabezado{
    display:grid;
    grid-template-columns: 1fr 3fr;
    /* border: 1px solid blue; */
}

#nombre{
    display:flex;
    text-align: center;
}

.datos{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    list-style: none;
    padding-left: 0;
}
.lista{
    display: grid;
    
    list-style: none;
    padding-left: 0;
}

#imagen{
    
    width: 30px;
    height: 30px;
    border-radius: 30px;
    

   
}

.banner{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: justify;
    text-justify: inter-word;
    /* border: solid 1px blue; */
}





#logo{
    padding: 0px;
    margin: 10px;
    height: 200px;
    width: 200px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 30px;
}
.formacion{
    display:grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    /* border: 1px solid blue; */
}
.habilidades{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid blue; */
    margin-top: 1rem;
}
#habilidades{
    display: none;
}

#hobbies{
    display: none;
}

#fortalezas{
    display: none;
}


.mostrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
   
    /* border: solid 1px blue; */
}

.servicios{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid blue; */
    margin-top: 1rem;
}

#servicio1{
    display: none;
    

}

#servicio2{
    display: none;
}

#servicio3{
    display: none;
}


form{
    box-shadow: 0px 4px 93px 8px rgba(87,84,87,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#dcdcde;
    width: 20rem;
    height: auto;
    padding: 2rem; 
    border-radius: 30px;  
   
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  input:focus {
    border-bottom: 2px solid #78788c;
  }
  input:hover{
    background: #78788c;
    color: #fff;
    border-radius: 30px;
    }
  p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
  }
  button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    /* border: 2px solid #78788c; */
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background: #78788c;
    color: #fff;
  }

  textarea{
    background-color:#b1b1b9;
  }

  .boton {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  .boton:focus {
    border-bottom: 2px solid #78788c;
  }
  .boton:hover{
    background: #78788c;
    color: #fff;
    border-radius: 30px;
    }
  p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
  }
  


/* body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:azure;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px;
}



.letra{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    background-color: #6d766d;
    color:aliceblue;
    text-align: center;
    border-radius: 80%;
}



#logo{
    padding: 0px;
    margin: 10px;
    height: 200px;
    width: 200px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}







#foto{
    padding: 20px;
    margin: 30px;
    height: 100px;
    width: 60px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

.letra1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: #6d766d;
    color:aliceblue;
    border-radius: 20%;
    
}


.letra3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:#6d766d;
    border-radius: 20%;
    
}

.letra4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #6d766d;
    color:aliceblue;
    text-align: center;
}





#servicio1, #servicio2, #servicio3, #servicio4{
    display: none;
}

.p{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

input, textarea{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
} */

